<!DOCTYPE html>
<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <style type="text/css">
        @media (max-width: 551px) {
        #highchart_container {height: 3000px;}
}
@media (min-width: 550px) {
    #highchart_container {height: 1400px;}
}
    </style>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/highcharts/highcharts.js"></script>
    <script src="js/chart.controller.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="togetherApp"  ng-controller="chartController as vm">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li class="active">
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Player Details
                    <small>Dashboard</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
        <br>

        <div class="row">

            <div class="col-md-4">
                <img class="img-responsive" src="http://placehold.it/300x330" alt="">
            </div>

            <div class="col-md-6">
                <h2>Player Details</h2>
                <hr style="width:700px; border-top: 3px solid orange;">
                <br>
                <p><b>Name : </b>Player Name</p>
                <p><b>Name : </b>Player Name</p>
                <p><b>Name : </b>Player Name</p>
                <p><b>Name : </b>Player Name</p>


            </div>
            <div class="col-md-1">
            </div>
        </div><br>
        <!-- /.row -->
<hr style="width:1100px; border-top: 1px solid #000;">
<br>
        <!-- Content Row -->
        <div class="row" >
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a ng-click="vm.tab='fitness'" href="" class="list-group-item" style="padding: 18px 15px;">Fitness</a>
                    <a ng-click="vm.tab='intensity'" href="" class="list-group-item" style="padding: 18px 15px;">Intensity</a>
                    <a href="" ng-click="vm.tab='tenacity'" class="list-group-item" style="padding: 18px 15px;">Tenacity</a>
                    <a href="" ng-click="vm.tab='effectiveness'" class="list-group-item" style="padding: 18px 15px;">Effectiveness</a>

                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-1"></div>
            <div ng-if="weightIntensityLineChartOptions" id="highchart_container" class="col-md-8" ng-if="vm.tab=='fitness'">
                <h2>Fitness</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                <hc-chart options="weightIntensityLineChartOptions">Placeholder for generic chart</hc-chart>
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             <div id="highchart_container" class="col-md-8" ng-if="vm.tab=='intensity'">
                <h2>Intensity</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                 <hc-chart options="columnChartOptionsSinglePlayer">Placeholder for generic chart</hc-chart> 
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             <div id="highchart_container" class="col-md-8" ng-if="vm.tab=='tenacity'">
                <h2>Tenacity</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                <hc-chart options="columnChartOptions">Placeholder for generic chart</hc-chart>
                 <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
            </div>
             <div id="highchart_container" class="col-md-8" ng-if="vm.tab=='effectiveness'">
                <h2>Effectiveness</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p> -->
                <!-- <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart> -->
                 <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    
    <script src="js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="js/highcharts/themes/dark-unica.js"></script>
    <script src="js/chart.controller.js"></script>

</body>

</html>
